.DS_Store
**/..classpath
**/.project
**/.settings/
**/target/
**/build/
**/.gradle/
**/PainteraGradleLauncher.kt
*.orig
.classpath
.project
.settings
/target
*.swp
attributes.json*
canvases
.paintera
.idea
*.iml
*.class
*.java-version
*dockerfile
meshes
