.DS_Store
**/..classpath
**/.project
**/.settings/
**/target/
**/build/
**/.gradle/
**/PainteraGradleLauncher.kt
*.orig
.classpath
.project
.settings
/target
*.swp
# ignore all attributes.json files, EXCEPT in test resources
attributes.json*
!src/test/resources/**/attributes.json*
#ignore tmp.n5/tmp.zarr (should be removed, but incase of error may persist locally)
tmp.n5*
tmp.zarr*

canvases
.paintera
.idea
*.iml
*.class
*.java-version
*dockerfile
/meshes

# ignore scijava scripts if presetn
ci-build.sh
ci-setup-github-actions.sh
