.DS_Store
**/..classpath
**/.project
**/.settings/
**/target/
*.orig
.classpath
.project
.settings
/target
*.swp
attributes.json*
canvases
.paintera
.idea
src/main/resources/README.md
src/main/resources/img
src/main/resources/README.html
