.root {
    -icons-color: black;
    -accept: green;
    -reject: red;
    -refresh-blue: #2DA3FF;
    -help-blue: #0078D7;
    -reset-blue: #007BFF;
}

.glyph-icon {
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;
    -glyph-size: 1em;
}

.glyph-icon.accept {
    -icons-color: -accept;
    -glyph-name: "CHECK";
}

.glyph-icon.reject {
    -icons-color: -reject;
    -glyph-name: "REMOVE";
}

.glyph-icon.remove {
    -icons-color: -reject;
    -glyph-name: "MINUS";
}

.glyph-icon.add {
    -icons-color: -accept;
    -glyph-name: "PLUS";
}

.glyph-icon.refresh {
    -icons-color: -refresh-blue;
    -glyph-name: "REFRESH";
}

.glyph-icon.reset {
    -icons-color: -refresh-blue;
    -glyph-name: "UNDO";
}

.glyph-icon.help {
    -icons-color: -help-blue;
    -glyph-name: "REFRESH";
}
