@import url(ikonli.css);


.font-icon.toggle-preview > .ikonli-font-icon {
    -fx-icon-code: "fa-toggle-off";
}

.font-icon.toggle-preview:preview > .ikonli-font-icon {
    -fx-icon-code: "fa-toggle-on";
}

.font-icon.interpolation-first-slice > .ikonli-font-icon {
    -fx-icon-code: "fa-fast-backward";
}

.font-icon.interpolation-previous-slice > .ikonli-font-icon {
    -fx-icon-code: "fa-step-backward";
}

.font-icon.interpolation-next-slice > .ikonli-font-icon {
    -fx-icon-code: "fa-step-forward";
}

.font-icon.interpolation-last-slice > .ikonli-font-icon {
    -fx-icon-code: "fa-fast-forward";
}



