@import url(glyphs.css);


.glyph-icon.toggle-on {
    -glyph-name: "TOGGLE_ON";
}

.glyph-icon.toggle-off {
    -glyph-name: "TOGGLE_OFF";
}

.glyph-icon.interpolation-first-slice {
    -glyph-name: "FAST_BACKWARD";
}
.glyph-icon.interpolation-previous-slice {
    -glyph-name: "STEP_BACKWARD";
}
.glyph-icon.interpolation-next-slice {
    -glyph-name: "STEP_FORWARD";
}
.glyph-icon.interpolation-last-slice {
    -glyph-name: "FAST_FORWARD";
}



