Package: APPLICATION_PACKAGE
Version: APPLICATION_VERSION_WITH_RELEASE
Section: misc
Maintainer: Caleb Hulbert <hulbertc@janelia.hhmi.org>
Priority: optional
Architecture: amd64
Provides: paintera
Description: Paintera is a general visualization tool for 3D volumetric data and proof-reading in segmentation/reconstruction with a primary focus on neuron reconstruction from electron micrographs in connectomics.
Depends: PACKAGE_DEFAULT_DEPENDENCIES PACKAGE_CUSTOM_DEPENDENCIES
Installed-Size: APPLICATION_INSTALLED_SIZE
