# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Publish Installers

on:
  push:
    tags:
      - "paintera-*.*.*"
      - "prerelease-*"
  workflow_dispatch:

jobs:
  build_installers:
    name: Build Installers
    uses: ./.github/workflows/build-installers.yml
    secrets: inherit

  create_release:
    needs: build_installers
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0  # Need full history for git-cliff
  
      - name: Download Artifacts
        uses: actions/download-artifact@v4
      - name: Set Version
        run: |
          tag_name=$(echo ${{ github.ref }} | grep -oE "[^/]+$")
          echo "VERSION=$tag_name" >> $GITHUB_ENV
          if [[ $tag_name == paintera-* ]]; then
            echo "PRERELEASE=false" >> $GITHUB_ENV
          else
            echo "PRERELEASE=true" >> $GITHUB_ENV
          fi
      - name: Generate Release Notes
        if: env.PRERELEASE == 'false'
        id: git-cliff
        uses: orhun/git-cliff-action@v4
        with:
          args: -l --strip header
      - name: Generate Prerelease Log
        if: env.PRERELEASE == 'true'
        id: git-cliff-pre
        uses: orhun/git-cliff-action@v4
        with:
          args: -u --strip header
      - name: Rename Artifacts
        run: |
          mv Paintera-windows-latest-*/*.msi Paintera-${{ env.VERSION }}-Windows.msi
          mv Paintera-ubuntu-22.04-*/*.deb Paintera-${{ env.VERSION }}-ubuntu-22.04_x86_64.deb
          mv Paintera-ubuntu-24.04-*/*.deb Paintera-${{ env.VERSION }}-ubuntu-24.04_x86_64.deb
          mv Paintera-macos-15-intel-*/*.dmg Paintera-${{ env.VERSION }}-MacOS-15-Intel.dmg
          mv Paintera-macos-14-*/*.dmg Paintera-${{ env.VERSION }}-MacOS-14-AppleSilicon.dmg
          mv Paintera-macos-15-*/*.dmg Paintera-${{ env.VERSION }}-MacOS-15-AppleSilicon.dmg
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: Paintera ${{ env.VERSION }}
          tag_name: ${{ github.ref }}
          prerelease: ${{ env.PRERELEASE }}
          body: ${{ steps.git-cliff.outputs.content || steps.git-cliff-pre.outputs.content }}
          files: |
            Paintera-${{ env.VERSION }}-Windows.msi
            Paintera-${{ env.VERSION }}-ubuntu-22.04_x86_64.deb
            Paintera-${{ env.VERSION }}-ubuntu-24.04_x86_64.deb
            Paintera-${{ env.VERSION }}-MacOS-15-Intel.dmg
            Paintera-${{ env.VERSION }}-MacOS-14-AppleSilicon.dmg
            Paintera-${{ env.VERSION }}-MacOS-15-AppleSilicon.dmg
